    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-content">
          <div class="footer-left">
            A sample Task List application built using Node.js and Express 4.
            View GitHub <a href="https://github.com/heyitsjhu/hello-tasklist"  target="_blank">repository</a>.
          </div>
          <div class="footer-right">
            Created by <a href="https://github.com/heyitsjhu" target="_blank">Johnny Hu</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/javascripts/main.js"></script>
  </body>
</html>