<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/tasks">Hello, Tasklist</a>
      </div>

      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/heyitsjhu/hello-tasklist" target="_blank">GitHub Repository</a></li>
          <li>
            <p>
              <a class="btn btn-primary navbar-btn" href="/tasks/new">
                <i class="glyphicon glyphicon-pencil"></i>
                New Task
              </a>
            </p>
          </li>
        </ul>
      </div>
    </div><!-- ./container-fluid -->
  </nav>
</header>