<% include partials/header %>

  <div class="landing">
    <div class="landing-content">
      <h1 class="landing-heading">Hello, Tasklist</h1>
      <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies, urna ac varius luctus, nibh sapien tristique urna, a sollicitudin orci nisl pulvinar massa.</p>
      <a class="btn btn-primary btn-lg" href="/tasks" role="button">Start Tasking</a>
    </div>
  </div>

<% include partials/footer %>