<h1>This is the Edit Tasks Page</h1>

<form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
  <input type="text" name="task[content]" placeholder="What needs to be done?" value="<%= task.content %>">
  <input type="submit">
</form>